<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit ame. Ut enim adure dla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<%- include("footer") -%>
